<div class="container text-center">
	<div class="row">
		<div class="col-lg-4 col-sm-6 col-lg-offset-4 col-sm-offset-3">

            <div class="card hovercard">
                <div class="cardheader">

                </div>
                <div class="avatar">
                    <img alt="" src="http://www.stickpng.com/assets/images/585e4bf3cb11b227491c339a.png">
                </div>
                <div class="info">
                    <div class="title">
                        <h1>{{ userObj.name }}</h1>
                    </div>
                    <h5 class='text-danger'>Registeration User ID: <span>{{ userObj.id }}</span></h5>
					  <div>Email: <span>{{ userObj.email }}</span></div>
                      <div>Address: <span>{{ userObj.address }}</span></div>
                      <div>City: <span>{{ userObj.city }}</span></div>
                      <div>Zipcode: <span>{{ userObj.zipcode }}</span></div>
                      <div>Country: <span>{{ userObj.country }}</span></div>
                      <div ng-if="userObj.creditcardnumber">
    					  <div>Creditcard number: <span>{{ userObj.creditcardnumber }}</span></div>
                          <div>Creditcard type: <span>{{ userObj.creditcardtype }}</span></div>
                      </div>
                </div>
                <div class="bottom">
                    <a class="btn btn-primary btn-twitter btn-sm" href="https://twitter.com/webmaniac">
                        <i class="fa fa-twitter"></i>
                    </a>
                    <a class="btn btn-danger btn-sm" rel="publisher"
                       href="https://plus.google.com/+ahmshahnuralam">
                        <i class="fa fa-google-plus"></i>
                    </a>
                    <a class="btn btn-primary btn-sm" rel="publisher"
                       href="https://plus.google.com/shahnuralam">
                        <i class="fa fa-facebook"></i>
                    </a>
                    <a class="btn btn-warning btn-sm" rel="publisher" href="https://plus.google.com/shahnuralam">
                        <i class="fa fa-behance"></i>
                    </a>
                </div>
            </div>

        </div>

	</div>
</div>