<div>
    <top-header></top-header>
</div>
<div class="container text-center">
	<div class="row">
		<div class="col-lg-4 col-sm-6 col-lg-offset-4 col-sm-offset-3">

            <div class="card hovercard">
                <div class="cardheader">

                </div>
                <div class="avatar">
                    <img alt="" src="http://www.stickpng.com/assets/images/585e4bf3cb11b227491c339a.png">
                </div>

                <div class="title">
                        <h1>{{ userObj.name }}</h1>
                </div>
                <div class="info text-left">
                <table style="table-layout: fixed;">

                    <tr>
                      <td class="text-right" colspan="2"><b>Email: </b></td>
                      <td colspan="1">&nbsp;&nbsp;&nbsp;</td>
                      <td class="text-left" colspan="2">  {{ userObj.email }}</td>
                    </tr>
                    <tr>
                      <td class="text-right" colspan="2"><b>Address: </b></td>
                      <td>&nbsp;&nbsp;&nbsp;</td>
                      <td class="text-left" colspan="2">  {{ userObj.address }}</td>
                    </tr>
                    <tr>
                      <td class="text-right" colspan="2"><b>City: </b></td>
                      <td>&nbsp;&nbsp;&nbsp;</td>
                      <td class="text-left" colspan="2">  {{ userObj.city }}</td>
                    </tr>
                    <tr>
                      <td class="text-right" colspan="2"><b>Zipcode: </b></td>
                      <td>&nbsp;&nbsp;&nbsp;</td>
                      <td class="text-left" colspan="2">  {{ userObj.zipcode }}</td>
                    </tr>
                    <tr>
                      <td class="text-right" colspan="2"><b>Country: </b></td>
                      <td>&nbsp;&nbsp;&nbsp;</td>
                      <td class="text-left" colspan="2">  {{ userObj.country }}</td>
                    </tr>
                    <tr>
                      <td class="text-right" colspan="2"><b>Creditcard#: </b></td>
                      <td>&nbsp;&nbsp;&nbsp;</td>
                      <td class="text-left" colspan="2">  {{ userObj.creditcardnumber }}</td>
                    </tr>
                </table>
                <div class="bottom text-center">
                    <a class="btn btn-primary btn-twitter btn-sm" href="https://twitter.com/webmaniac">
                        <i class="fa fa-twitter"></i>
                    </a>
                    <a class="btn btn-danger btn-sm" rel="publisher"
                       href="https://plus.google.com/+ahmshahnuralam">
                        <i class="fa fa-google-plus"></i>
                    </a>
                    <a class="btn btn-primary btn-sm" rel="publisher"
                       href="https://plus.google.com/shahnuralam">
                        <i class="fa fa-facebook"></i>
                    </a>
                    <a class="btn btn-warning btn-sm " rel="publisher" href="https://plus.google.com/shahnuralam">
                        <i class="fa fa-behance"></i>
                    </a>
                </div>
            </div>

        </div>

	</div>
</div>