<div id="login" >
    <div [hidden]="!loading">
        <loader medium=true></loader>
    </div>
    <notifier [messages]="notifyMessages"></notifier>
			<form  name="form" (ngSubmit)="f.form.valid" #f="ngForm" novalidate>     
		    <h3 class="form-signin-heading">Welcome Back! Please Sign In</h3>
			  <hr class="colorgraph"><br>
			    <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !email.valid }">
					
					<input type="text" class="form-control" placeholder="Email: 123@gmail.com" name="email" [(ngModel)]="model.email" #email="ngModel" required />
					<div *ngIf="f.submitted && !email.valid" class="help-block">Email is required</div>
				</div>
				<div class="form-group" [ngClass]="{ 'has-error': f.submitted && !password.valid }">
					
					<input type="password" class="form-control" placeholder="Password: *******" name="password" [(ngModel)]="model.password" #password="ngModel" required />
					<div *ngIf="f.submitted && !password.valid" class="help-block">Password is required</div>
				</div>
				<div class="form-group">
					<button class="primary-btn" (click)="loginObject()">Login</button>
					<a [routerLink]="['/registeration']" class="btn btn-link">Register</a>
				</div>	
			</form>	
</div>